# Google Search Console Verification Key (Leave empty if using static HTML file verification at /google0fa1afe950f3fb07.html)
NEXT_PUBLIC_GSC_VERIFICATION=

# Google Analytics 4 Measurement ID (e.g. G-XXXXXXXXXX)
NEXT_PUBLIC_GA_MEASUREMENT_ID=
